PlantVillage/train/
PlantVillage/val/

checkpoints/
outputs/
*.pth

results/leakage/hashes/
__pycache__/
*.pyc

report/*.aux
report/*.log
report/*.out
report/*.synctex.gz
report/*.fdb_latexmk
report/*.fls
report/*.nav
report/*.snm
report/*.toc
demo_corrupted.jpg

.DS_Store
Thumbs.db
